@model MVC5Course.Models.Client

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        //套用 EditorTemplate，模版來源：Views/Shared/EditorTemplates/Client.cshtml
        @Html.EditorFor(m => m)

    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
